* {
    font-family: Helvetica;
}

.title-banner h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url("./pattern.jpeg");
    
}

.brush-banner h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}

.frame-banner h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: lightcoral;
}

.paint-banner h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: skyblue;
}

.deal-text {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}

.pattern-picture img {
    overflow: 
    height: 100px;
    z-index: 2;
}